/* .nav-library-button {
    color: whitesmoke;
} */

.nav-library-button:hover {
    transition-duration: 250ms;
    border-radius: 5px;
    background-color: rgb(231, 176, 8);
    color: black;
}
/* .nav-library-button {
    color: whitesmoke;
} */

.nav-library-button:hover {
    transition-duration: 250ms;
    border-radius: 5px;
    background-color: rgb(231, 176, 8);
    color: black;
}

/* .nav-library-button {
    color: whitesmoke;
} */

.nav-library-button:hover {
    transition-duration: 250ms;
    border-radius: 5px;
    background-color: rgb(231, 176, 8);
    color: black;
}

/* main {
    background: linear-gradient(to bottom right --bs-body-bg, --bs-indigo);
} */

.search-form {
    display: grid;
    columns: 1;
    margin: 2rem;
    row-gap: 1rem;
    text-align: center;
}

.library-records {
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
    justify-items: center;
}

.library-record {
    background-color: gainsboro;
    align-items: center;
    justify-content: center;
    border-radius: 1em;
    padding: 2rem;
    text-decoration: none;
    color: black;
}

.library-record:hover {
    transition-duration: 250ms;
    border-radius: 0.1em;
    filter: drop-shadow(8px 8px 8px black);
}

.library-record-image {
    max-width: 250px;
    max-height: 250px;;
}

.archive-item-image {
    max-width: 75%;
    max-height: 75%;
}